*._*
.DS_Store
cache*
distfiles
debian/*.img
debian/*.img.xz
debian/rootfs
dtb/linux-*
dtb/*.dt?
dtb/*.dtsi
kernel/kernel-*
kernel/linux-*
uboot/u-boot
uboot/idbloader*.img
uboot/u-boot*.itb
uboot/u-boot-rockchip*.bin
